body{
    background-color: paleturquoise;
}


/*定位置的div*/
.back-div{
    width: 100%;
    height: 900px;
    text-align: center;
}

.play-div{
    width: 413px;
    height: 600px;
    box-shadow:-1px 1px 10px 1px #444;
    background-color: ivory;
    margin-left: 450px;
    margin-top: 20px;


}



.play-title-div{
    width: 100%;
    height: 18%;
    background-color: paleturquoise;
}

.main{
    width: 99%;
    height: 70%;
    background-color: cadetblue;
    border: 2px mediumslateblue solid;
}
.main img{
    display: inline;
}


/*******方便定位的不显示的li*****/
.main .no-show{
    width:0px;
    height: 0px;
    padding: 0px;
    border: 0px;
}

.play-end-div{
    width: 100%;
    height: 12%;
    /*background-color: blueviolet;*/
}


ul{
    width: 100%;
    height: 24.9%;
    list-style-type: none;
    margin:0; padding:0;
}

li{

    float: left;
    height: 99%;
    width: 24.5%;


    border: 1px paleturquoise solid;
}



/*******************上部分样式*******************/
.right-init{
    border: 2px #a17aff solid;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 10px;
    float: right;
}



.right-second{
    border: 2px #a17aff solid;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-top: 50px;
    float: right;
}



img{
    padding: 4px;
    position: absolute;
    display: none;

    /*opacity: 100;*/
}


.right-second img{
    left:710px;
    top: 67px;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.right-init img{
    left: 769px;
    top: 27px;
    width: 90px;
    height: 90px;
    padding: 5px;
}

.score{
    width: 200px;
    height: 100px;
    font-size: 80px;
    margin-top: 15px;
    text-align: left;
    padding: 10px;
    position: absolute;

}




/*******************中间数字样式*************************/
li img{
    width: 90px;
    height: 90px;
    padding: 6px;
}

/*===================底部三个功能============================*/
.play-end-div img{
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
    display: inline;
    width: 50px;
}



/*===================截图div================================*/
.create-img{
    position: absolute;
    left: 280px;
    top: 50px;
    display: none;
    background-color: cornflowerblue;
    width: 750px;
    height: 550px;
    opacity: 0.9;
    text-align: center;

}

.create-img p{
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 475px;
    background-color: cadetblue;
    opacity: 1;

}

.create-img a{
    margin-left: 740px;
    background-color: #e5e6e6;
}

.back-button {
    background-color: turquoise;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin-left: 650px;
    margin-top: 5px;
    cursor: pointer;

}

#lastImg{
    width: 350px;
    height: 510px;
    display: none;
    left: 480px;
    top: 60px;


}


/*========================================分享的样式===================*/
.share-div{
    display: none;
    width: 380px;
    height: 200px;
    background-color: cadetblue;
    opacity: 0.7;
    position: fixed;
    border: 1px burlywood solid;
    left: 900px;
    top: 60px;


}


.share-div button{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.share-div span{
    font-size: 15px;
    color: aquamarine;
    margin-left: 160px;
    top: 10px;
    position: absolute;
    opacity: 0.7;

}

.share-div a{
    margin: 10px;
}

.share-div a img{
    display: inline;
    width: 54px;
    padding: 0px;
    position: relative;
}

.share-div div{
    margin: 0px;
}

.share-a{
    text-decoration:none;
    left: 1270px;
    top: 10px;
    font-size: 30px;
    float: right;
    position: fixed;


}

/*===============重来按钮：小屏幕版显示=============*/
.reGame{
    display: none;
}


/*=======================================结束弹窗样式===================*/
.game-end{
    position: absolute;
    width: 350px;
    height: 110px;
    background-color: #444444;
    text-align: center;
    left: 490px;
    top: 200px;
    display: none;

}

.game-end p{
    font-size: 20px;
    color: whitesmoke;
}

.game-end a{
    text-decoration: none;
    font-size: 18px;
    color: aquamarine;
    padding: 20px;

}




/*====================================简单响应式配合手机端页面的显示=======================*/
@media screen and (max-width:690px){

    .share-div{
        display: none;
        width: 380px;
        height: 200px;
        background-color: cadetblue;
        opacity: 0.7;
        position: absolute;
        border: 1px burlywood solid;
        left: 20px;
        top: 80px;


    }


    .share-a{
        text-decoration: none;
        left: 370px;
        top: 50px;
        font-size: 25px;
        position: absolute;

    }

    .reGame{
        display: inline;
        text-decoration: none;
        left: 370px;
        top: 25px;
        font-size: 25px;
        position: absolute;
    }
}
